.App {
  text-align: center;
}

.Activity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

.activity-card {
  min-height: 160px;
  width: 260px;
  padding: 1%;
  border: solid 1px teal;
  border-radius: 12px;
  margin: 1%;
}

.activity-card:hover {
  background-color: aqua;
  cursor: pointer;
}
