.App {
  text-align: center;
}

.Activity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.activityContainer {
  position: relative;
}

.activityCard {
  text-align: left;
  min-height: 160px;
  width: 256px;
  padding: 0% 16px;
  padding-top: 24px;
  border: solid 1px teal;
  border-radius: 12px;
}

.activityItem {
  margin-bottom: 10px;
}

h3 {
  font-size: 0.6rem;
  margin: 0;
}

.activityCard:hover {
  background-color: aqua;
  cursor: pointer;
}

.favoriteButton {
  font-weight:600;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  background-color: gold;
  cursor: pointer;
  position: absolute;
  bottom: 20;
  right: 0;
  margin-right:10px;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 999;
}

.favoriteButton:hover {
  background-color: rgb(255, 239, 150);
}

.listButton {
  width: 20px;
  height: 20px;
  background-color: rgb(157, 112, 22);
  cursor: pointer;
  position: absolute;
  bottom: 20;
  right: 0;
  margin-right:36px;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 999;
}

.listButton:hover {
  background-color: rgb(199, 176, 135);
}

.Favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: blanchedalmond;
}

.favoritesListToggle {
  cursor: pointer;
}

.favoritesList {
  list-style-type: none;
  padding: 1%;
}

.favoritesListItem {
  text-align: left;
  padding: 5%;
  border: 1px dotted grey;
  border-radius: 12px;
  margin: 1%;
}

.favoritesListItem:hover {
  background-color: rgba(0, 255, 255, 0.341);
  cursor: pointer;
}
